<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication Practice</title>
</head>
<body>
  <% if (user) {%>
    <h1>WELCOME BACK <%= user.username %></h1>
    <a href="/log-out">LOG OUT</a>
    <div>
      <h2>Add to the conversation!</h2>
      <form action="/new" method="POST" enctype="multipart/form-data">
        <input type="text" name="caption" placeholder="Thoughts?">
        <input type="file" name="image" accept="image/*" placeholder="Add an image">
        <input type="text" name="user" value="<%= user.username %>" readonly>
        <button type="submit">Submit</button>
      </form>
    </div>
    <%- include('./messages.ejs')%>
  <% } else { %>
    <h1>please log in</h1>
    <form action="/log-in" method="POST">
        <label for="username">Username</label>
        <input name="username" placeholder="username" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <button>Log In</button>
        <p>OR</p>
        <a class="button" href="/sign-up">Sign-Up</a>
    </form>
  <%}%>
</body>
</html>