<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IG Clone</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body>
  <div class="navbar-brand mx-auto">
    <h1><a href="/">Ismagram</a></h1>
  </div>
  <% if (user) {%>
    <div class="container">
      <div class="card">
        <h1 class="card-header">WELCOME BACK <%= user.username %></h1>
        <span class="card-body">
          <a class="btn btn-outline-primary col" href="/profile">View Profile</a>
          <a class="btn btn-outline-danger col" role="button" aria-disabled="true" href="/log-out">LOG OUT</a>
        </span>
      </div>
      <div id="new-post" class="container">
        <h4 class="text-center">Add to the conversation!</h4>
        <div class="container mx-auto" style="width: 500px;">
          <form action="/new" method="POST" enctype="multipart/form-data">
            <label class="form-label" for="caption">Thoughts?</label>
            <input class="form-control" type="text" name="caption">
            <label class="form-label" for="image">Add your image</label>
            <input class="form-control" type="file" name="image" accept="image/*" placeholder="Add an image">
            <div class="container text-center">
              <div class="row">
                <div class="col-sm-4 my-2">
                  <label for="form-label">Posting as:</label>
                </div>
                <div class="col-sm-8">
                  <input type="text" name="user" class="form-control-plaintext" value="<%= user.username %>" readonly>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-light">Submit New Post</button>
          </form>
        </div>
      </div>
      <div class="feed mx-auto my-2" style="width: 30rem;">
        <h5>Recent Posts</h5>
        <%- include('./messages.ejs')%>
      </div>
    </div>
  <% } else { %>
    <div class="mt-5 mx-auto" style="width: 500px">
      <h2>Please Log In or Sign Up</h2>
      <form action="/log-in" method="POST">
        <label for="username" class="form-label">Username</label>
        <input class="form-control" name="username" placeholder="username" type="text" />
        <label for="password" class="form-label">Password</label>
        <input class="form-control" name="password" type="password" />
        <button class="btn mx-auto my-2" style="width: 500px">Log In</button>
        <a class="btn mx-auto" style="width: 500px" href="/sign-up">Sign-Up</a>
      </form>
  </div>
  <%}%>
</body>
</html>