<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IG Clone</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body>
  <div class="navbar-brand mx-auto">
    <h1><a href="/">Ismagram</a></h1>
  </div>
  <% if (user) {%>
    <div class="container">
      <div class="card">
        <h1 class="card-header">WELCOME BACK <%= user.username %></h1>
        <span class="card-body">
          <a class="btn btn-outline-primary col" href="/profile">View Profile</a>
          <a class="btn btn-outline-danger col" role="button" aria-disabled="true" href="/log-out">LOG OUT</a>
        </span>
      </div>
      <div id="new-post" class="d-flex p-2">
        <h4 class="">Add to the conversation!</h4>
        <div class="d-flex p-2">
          <form class="" action="/new" method="POST" enctype="multipart/form-data">
            <input type="text" name="caption" placeholder="Thoughts?">
            <input type="file" name="image" accept="image/*" placeholder="Add an image">
            <input type="text" name="user" class="form-control-plaintext" value="<%= user.username %>" readonly>
            <button type="submit" class="btn btn-light">Submit New Post</button>
          </form>
        </div>
      </div>
      <%- include('./messages.ejs')%>
    </div>
  <% } else { %>
    <div class="mt-5 mx-auto" style="width: 500px">
      <h2>Please Log In or Sign Up</h2>
      <form action="/log-in" method="POST">
        <label for="username" class="form-label">Username</label>
        <input name="username" placeholder="username" type="text" class="form-control"/>
        <label for="password" class="form-label">Password</label>
        <input name="password" type="password" class="form-control" />
        <button>Log In</button>
        <p>OR</p>
        <a class="button" href="/sign-up">Sign-Up</a>
      </form>
  </div>
  <%}%>
</body>
</html>