<% messages.forEach(function(message) { -%>
<div class="post card my-2 mx-auto" style="width: auto">
    <p class="card-title">Posted by <%= message.user %> </p>
    <img class="card-img" src="<%= message.image %>">
    <div class="content card-body card-text"> <%= message.caption %> </div>
    <p class="card-footer"> <%= message.added %> </p>
</div> <% }) %>