<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body>
    <h1><a href="/">Ismagram</a></h1>
    <% if (user) {%>
        <h1>WELCOME BACK <%= user.username %></h1>
        <a href="/log-out">LOG OUT</a> <% } %>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img class="rounded-circle" src="" alt="">
            </div>
            <div class="col-md-8">
                <span class="card-title">Name</span>
                <span class="card-text">User</span>
            </div>
        </div>
        <button>edit profile</button>
        <p><%=Object.keys(messages).length %> posts</p>
        <p>followers</p>
        <p>following</p>
    </div>
    <div>
        <p>posts</p>
        <div class="container text-center">
            <%- include('./messages.ejs')%>
        </div>
    </div>
</body>
</html>