<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/sign-up" method="POST" enctype="multipart/form-data">
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="username"/>
        <label for="password">Password</label>
        <input type="password" name="password"/>
        <label for="ProfilePhoto">Profile Photo</label>
        <input class="form-control" type="file" name="profilePhoto" accept="image/*" placeholder="Add an image">
        <label for="fullName" class="form-label">Display Name</label>
        <input type="text" class="form-control" name="fullName">
        <button class="btn" type="submit">Sign Up</button>
    </form>
</body>
</html>